{% extends "assets/template.twig" %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Упс! Страница не найдена.</h3>
            <p>
                Мы не смогли найти запрошенную страницу.
                <br/>Пока что вы можете <a href="{{ CONFIG.ROOTURL }}">вернуться на главную</a>{% if USERDATA.instances|length > 1 %}, или выбрать другую организацию:{% endif %}
            </p>
            {% if USERDATA.instances|length > 1 %}
            <ul>
                {% for instance in USERDATA.instances %}
                    {% if USERDATA.instance.instances_id != instance.instances_id %}
                        <li>
                            <a href="{{ CONFIG.ROOTURL }}?i={{instance.instances_id}}"  class="changeInstanceActionButton" data-newinstance="{{instance.instances_id}}">
                                {{instance.instances_name}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif  %}
        </div>
    </div>
    
{% endblock %}
